.listPlayer{
    background-color: dimgray;
    border: black;
    border-width: 1px;
    border-style: solid;
    font-size: 20px;
}

.listPlayerActiveGameContainer{

}

.listPlayerReadyGameContainer{

}

.listPlayerPendingGameContainer{
    
}